body {
  margin: 0;
  font-size: 16;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
}

.icon-container > a {
  color: #18D8F0;
}

a:visited {
  color:#F090C0;
}

a:hover {
  color: #F090C0;
}

.colors-container {
  height: 5px;
  font-size: 0;
}

.color-element {
  width: calc(100% / 3);
  display: inline-block;
  height: inherit;
}

.red {
  background-color: #ED145A;
}

.pink {
  background-color: #F090C0;
}

.blue {
  background-color: #18D8F0;
}

.👋 {
  border-radius: 50%;
  width: 15em;
  height: auto;
  display: block;
  margin: auto;
  margin-top: 3em;
}

.align-center {
  text-align: center;
}

.description {
  margin-top: 0.5em;
  font-size: 2em;
}

.💃 {
  color: #666;
}

.seperate-content {
  margin-top: 0.3em;
}

.icon-container {
  margin-top: 2em;
}
